@{
    ViewData["Title"] = "Política de Privacidad";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <hr>
            <p>En esta página, explicaremos cómo se recopila, utiliza, comparte y protege la información personal de los usuarios que utilizan nuestro servicio de reserva de entradas de la NBA.</p>

            <h2>Recopilación y Uso de la Información</h2>
            <p>Al utilizar nuestro servicio, podemos recopilar cierta información personal que usted proporciona voluntariamente, como su nombre, dirección de correo electrónico, número de teléfono, información de pago y preferencias de asiento. Esta información se utiliza únicamente para procesar sus reservas de entradas y comunicarnos con usted sobre los detalles de su pedido.</p>

            <h2>Compartir de la Información</h2>
            <p>No compartimos información personal con terceros, excepto en la medida necesaria para procesar sus reservas de entradas o cumplir con las leyes y regulaciones aplicables.</p>

            <h2>Protección de la Información</h2>
            <p>Tomamos medidas razonables para proteger la información personal de nuestros usuarios contra pérdida, robo, acceso no autorizado, divulgación, alteración o destrucción.</p>

            <h2>Cookies</h2>
            <p>Nuestro sitio web puede utilizar cookies y tecnologías similares para mejorar la experiencia del usuario y recopilar información sobre el uso del sitio. Puede optar por no aceptar cookies cambiando la configuración de su navegador, pero esto puede afectar la funcionalidad de ciertas partes de nuestro sitio web.</p>

            <h2>Enlaces a Terceros</h2>
            <p>Nuestro sitio web puede contener enlaces a sitios web de terceros que no están bajo nuestro control. No somos responsables de las prácticas de privacidad o el contenido de estos sitios web de terceros. Le recomendamos que revise las políticas de privacidad de estos sitios web antes de proporcionarles información personal.</p>

            <h2>Modificaciones a esta Política de Privacidad</h2>
            <p>Nos reservamos el derecho de actualizar o cambiar nuestra Política de Privacidad en cualquier momento. Cualquier cambio será efectivo inmediatamente después de la publicación en esta página.</p>

            <p>Al utilizar nuestro servicio, usted acepta esta Política de Privacidad. Si no está de acuerdo con esta Política, por favor absténgase de utilizar nuestro servicio de reserva de entradas de la NBA.</p>

            <p>Si tiene alguna pregunta o inquietud sobre nuestra Política de Privacidad, no dude en ponerse en contacto con nosotros al siguiente correo: reservaentraditasnba@gmail.com</p>
        </div>
    </div>
</div>
